@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    /* --color-c1: #F2E852;
    --color-c2: #F2D857;
    --color-c3: #F2CB57;
    --color-c4: #BFAA8F;
    --color-c5: #40342A; */
    --color-c1: #F2EBBF;
    --color-c2: #F3B562;
    --color-c3: #F06060;
    --color-c4: #8CBEB2;
    --color-c5: #5C4B51;
    --color-c6: #f5f5f5;
    --font-title: "Roboto", ui-sans-serif, system-ui;
    --font-content: "Raleway", ui-sans-serif, system-ui;
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

@layer base {
    html {
        font-family: var(--font-title);
    }
}